
.wholepage {
    display: flex;
    flex-direction: column;
    height: 1000px;
    align-items: space-evenly;
    font-family:Arial, Helvetica, sans-serif;
}
h1 {
    text-align: center;
}

.main {
    display: flex;
    flex-direction: column;
}
.navbar {
    background-color: rgba(100,0,50, .7);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 5px;
    margin: 10px;
}
.navbar div {
    border: 2px solid black;
    text-align: center;
    padding: 5px;
    background-color:rgba(252, 161, 207, 0.7);
}
.panels {
    display: flex;

}
.leftpanel {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-left: 30px;
}
.leftpanel p {
    text-align: center;
    border: 2px solid black;
    margin-bottom: 20px;
    width: 175px;
    padding: 5px;
    align-items: flex-start;
    flex: 1;
    background-color:rgba(252, 161, 207, 0.7);
}
.winepic1 {
    margin-bottom: 20px;

}

.centerpanel {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-left: auto;
}
.centerpanel div {
    margin: 5px 10px 0px 10px
}
#mainpic {
    margin: 20px;
    padding: 0px;
}
.rightpanel {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: flex-end;
    margin-right: 30px;
}
.rightpanel p {
    text-align: center;
    border: 2px solid black;
    margin-bottom: 20px;
    width: 175px;
    padding: 5px;
    flex: 1;
    align-items: flex-end;
    background-color:rgba(252, 161, 207, 0.7);
}
}
.winepic2 {
    margin-bottom: 20px;

}

.bottomnavbar {
    background-color: rgba(100,0,50, .7);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 5px;
    margin: 10px;
}
.bottomnavbar div {
    border: 2px solid black;
    text-align: center;
    padding: 5px;
    background-color:rgba(252, 161, 207, 0.7);
}