h1 {
    text-align: center;
}
table {
    text-align:center;
    border: 1px solid black;
    table-layout: fixed;
    width: 1000px;
    margin-left: 20px
}
td {
    border: 1px solid black;
    width: 100px;
    overflow: hidden
}
#Proprietary {
    border: 1px solid black;
    width: 150px;
    overflow: hidden
}

#Varietals {
        border: 1px solid black;
        width: 250px;
        overflow: hidden
}
.headings {
    font-size:30px;
    font-weight:800;
    color: rgba(100,0,50, .7);
    background-color: rgba(0,100,150,.2);
}
.odd {
    background-color: rgba(247, 245, 221, 0.9)
}
