* {
    color:  rgba(100,0,50, 1.0)
}
.wholepage {
    display: flex;
    flex-direction: column;
    height: 1000px;
    align-items: space-evenly;
    font-family:Arial, Helvetica, sans-serif;
}
h1 {
    text-align: center;
}

h2 {
    text-align: center;
}
.navbar {
    background-color: rgba(100,0,50, .7);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 5px;
    margin: 10px;
}

.navbar div {
    border: 2px solid black;
    text-align: center;
    padding: 5px;
    background-color:rgba(252, 161, 207, 0.7);
}

.database {
    flex: 1
}
table {
    text-align:center;
    border: 1px solid black;
    table-layout: fixed;
    width: 900px;
    margin: 20px 0px;
}
td {
    border: 1px solid black;
    width: 100px;
    overflow: hidden
}
#Proprietary {
    border: 1px solid black;
    width: 190px;
    overflow: hidden
}

#Varietals {
        border: 1px solid black;
        width: 245px;
        overflow: hidden
}
#Vintage {
    border: 1px solid black;
    width: 115px;
    overflow: hidden
}
.headings {
    font-size:30px;
    font-weight:800;
    color: rgba(100,0,50, .7);
    background-color: rgba(0,100,150,.2);
}
.odd {
    background-color: rgba(247, 245, 221, 0.9)
}

.future {
    display: flex;
    text-align: center;
    flex-direction: column;
    height: 250px;
    align-items: center;
}
.text, .categories {
    width: 400px;
}
.bottompics {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.bottomnavbar {
    background-color: rgba(100,0,50, .7);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 5px;
    margin: 10px;
}
.bottomnavbar div {
    border: 2px solid black;
    text-align: center;
    padding: 5px;
    background-color:rgba(252, 161, 207, 0.7);
}